<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}">
<head>
    <title>상세보기</title>
</head>
<body>
<main layout:fragment="main" class="container">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title" th:text="${menu.menuName}"></h5>
            <p class="card-text"><strong>메뉴가격 : </strong>[[${#numbers.formatInteger(menu.menuPrice, 3, 'COMMA')}]]</p>
            <p class="card-text"><strong>카테고리명 : </strong>[[${menu.categoryName}]]</p>
            <p class="card-text"><strong>주문가능여부 : </strong>[[${menu.orderableStatus}]]</p>
        </div>
    </div>
</main>
</body>
</html>
