<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}">
<head>
    <title>상세보기</title>
</head>
<body>
<main layout:fragment="main" class="container">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">{메뉴명}</h5>
            <p class="card-text"><strong>메뉴가격 : </strong>{메뉴가격}</p>
            <p class="card-text"><strong>카테고리명 : </strong>{카테고리명}</p>
            <p class="card-text"><strong>주문가능여부 : </strong>{주문가능여부}</p>
        </div>
    </div>
</main>
</body>
</html>
