<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}">
<head>
    <title>메뉴 목록</title>

</head>
<body>
<main layout:fragment="main" class="container">
    <div class="d-flex justify-content-end">
        <button class="btn btn-primary" th:onclick="|location.href = '@{/menu/menuRegist}'|">메뉴 등록</button>
    </div>
    <div class="table-container my-3">
        <table class="table table-hover">
            <thead class="thead-light">
            <tr>
                <th>메뉴번호</th>
                <th>메뉴이름</th>
                <th>메뉴가격</th>
                <th>카테고리코드</th>
                <th>판매상태</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="menu : ${menus}">
                <td th:text="${menu.menuCode}"></td>
                <td>
                    <a th:href="|@{/menu/menuDetail?menuCode=}${menu.menuCode}|" th:text="${menu.menuName}"></a>
                </td>
                <td th:text="${menu.menuPrice}"></td>
                <td th:text="${menu.categoryCode}"></td>
                <td th:text="${menu.orderableStatus}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</main>
</body>
</html>
